@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,600;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(6, 1, 100);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 100%, rgba(9, 9, 121, 1) 35%);
}

/*Animaçãod dos links*/
.animacao:link,
a:visited,
a:active {
    text-decoration: none;
    font-family: 'Roboto Mono';
    font-weight: 700;

}

.animacao:hover {
    background: rgba(1, 1, 12, 0.459);
    font-family: 'Roboto Mono';
    font-weight: 700;
    border-radius: 10px;

}

.cardAnimacao {
    overflow: hidden;
}

.cardAnimacao div {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.cardAnimacao:hover div {
    -moz-transform: scale(0.05);
    -webkit-transform: scale(0.05);
    transform: scale(1.03);
}

.barraDeNavegacao {
    font-family: 'Roboto Mono';
    font-weight: 700;

}

.TituloPagina {
    color: antiquewhite;
    font-family: 'Roboto Mono';
    font-weight: 700;

}

.SubTituloPagina {
    font-family: 'Roboto Mono';
    color: antiquewhite;
    text-align: left;

}

.rodaPe {
    font-family: 'Roboto Mono';
    color: antiquewhite;
    text-decoration: none;

}

h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.342);
    color: rgb(58, 33, 2);
    border-radius: 5px;
    text-align: center;
}

p {
    font-family: 'PT Sans';
    font-weight: 100;
    color: rgb(63, 63, 63);
}